* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    width: 1400px;
    margin: 0 auto;
}

.color {
    background-color: gray;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
}

.part1 {
    width: 1400px;
    height: 700px;
    background: url(../../img/002.1.jpg);
}

.title1 {
    width: 620px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

.title1 h1,
.title1 p {
    padding-top: 50px;
}

.create {
    width: 800px;
    height: 250px;
    border: 1px black solid;
    margin: 0 auto;
}

.create div {
    text-align: center;
    height: 50px;
    margin: 20px auto;
}

.create div h4 {
    margin-top: 40px;
}

.create div p {
    font-size: 10px;
}

.create input {
    width: 200px;
    height: 50px;
    margin-right: 25px;
    background-color: transparent;
    border: 1px black solid;
    text-indent: 10px;
}

.create button {
    background-color: gray;
    width: 100px;
    height: 50px;
    color: white;
    border: none;
}

.part2 {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

.title2 {
    width: 620px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.sectionl,
.sectionr {
    width: 400px;
    height: 100px;
    margin-bottom: 50px;
}

.sectionl {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.sectionl img{
    float: left;
}

.sectionl img {
    margin-top: 10px;
}

.sectionl div p {
    margin-top: 10px;
}

.sectionl div {
    float: right;
    width: 340px;
    height: 80px;
}

.sectionr {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.sectionr img {
    margin-top: 10px;
}

.sectionr div p {
    margin-top: 10px;
}

.sectionr div {
    float: right;
    width: 340px;
    height: 80px;
}

.part3 {
    width: 1400px;
    height: 700px;
    background: url(../../img/001.1.jpg);
}

.part3 >div {
    height: 500px;
    width: 100%;
    padding-top: 100px;
}

.content {
    width: 400px;
    float: left;
    color: white;
    margin-left: 250px;
    margin-top: 50px;
}

.content *{
    margin-bottom: 26px;
}

.content button {
    width: 190px;
    height: 49px;
    border: 1px solid white;
}

.but1 {
    background-color: white;
    margin-right: 20px;
}

.but2 {
    background-color: transparent;
    color: white;
}

.ipad {
    width: 600px;
    height: 500px;
    border: 1px white solid;
    border-radius: 30px 0 0 30px;
    float: right;
}

.circle {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 25px;
    margin-top: 240px;
    margin-left: 25px;
    float: left;
}

.inside {
    width: 550px;
    height: 400px;
    background-color: white;
    margin: 25px 0 25px 15px; 
    float: left;
    padding-top: 50px;
}

.kuai1,
.kuai2 {
    width: 150px;
    height: 200px;
    background-color: black;
    float: left;
    border: 1px gray solid;
    margin-right: 20px;
}

.kuai1 {
    margin-left: 50px;
}

.kuai3 {
    height: 200px;
    width: 150px;
    background-color: black;
    float: left;
}

.part4 {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}

.part5 {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.part6 {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
}

.part7 {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
}

.part8 {
    width: 1400px;
    height: 200px;
    background-color: black;
}