* {
    margin: 0;
    padding: 0;
}

#anniu {
    text-align: center;
    margin: 10px 0;
}

button {
    width: 40px;
}

#hezi {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
}

