
#in_out {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border: 1px black solid;
}

input {
    margin: 50px auto;
    display: block;
    height: 20px;
}

button {
    margin: 0 auto;
    display: block;
}