.kuang {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    border: 1px black solid;
}

input {
    display: block;
    margin: 10px auto;
}

button {
    display: block;
    margin: 20px auto;
}